html, body {
	height: 100%;
}

header {
  background: url(../img/intro5.jpg) center center;
  background-size: cover; /* version standardisée */
  height: 100%;
}

.color-font {
	color: white;
}

.button-header {
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.5em 1em;
	color: white;
}

.button-header:hover {
	border: 1px solid #4188BE;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	background-color: #4188BE;
}

.barre-navigation {
	height: 62px;
	background-color: #eaeeef;
	line-height: 62px;
}

.navigation {
	list-style-type: none;
}

.navigation li {
	display: inline-block;
}

.reglage-width {
	width: 70%;
	margin: auto;
}